{% extends 'registration/login_uniq.html' %}

{% block content %}
<div id="vjiro">
  <!-- Форма для регистрации -->
<!-- debug -->
<!--  {% if messages %}-->
<!--    <div>-->
<!--      {% for message in messages %}-->
<!--        <div class="alert alert-{{ message.tags }}">-->
<!--          {{ message }}-->
<!--        </div>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  {% endif %}-->
  <div class="registration-container" id="login-container">
    <form method="POST" action="{% url 'register' %}" class="registration-form">
      {% csrf_token %}
      <input type="hidden" id="flag" name="login" value="false"> <!-- 'false' для регистрации -->

      <div class="form-group" id="username_group">
        <label for="username">Choose Your Name</label>
        <input type="text" id="username" name="username">
      </div>

      <div class="form-group" id="email_group">
        <label for="email">Enchanted Email</label>
        <input type="email" id="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="password">Mystic Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="form-group">
        <button type="submit" class="register-btn">Enter the Realm</button>
      </div>
    </form>
  </div>

  <!-- Форма для входа (логин) -->
  <div class="registration-container" id="welcome-container">
    <h1 class="fantasy-heading">Welcome to the Realm of Mystics</h1>
    <form method="POST" action="{% url 'register' %}" class="registration-form">
      {% csrf_token %}
      <div class="form-group">
        <button type="button" class="register-btn" id="change-mode-to-login">REGISTRATION</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
